/* ====================== */
/* ===== APP.JS ====== */
/* ====================== */

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ====================== */
/* ===== HEADER.JS ====== */
/* ====================== */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
}
header a {
  text-decoration: none;
  color: black;
}
.views {
  display: flex;
  flex-direction: row;
}
.views h4 {
  padding: 0 8px;
}
.social-icons{
  display: flex;
  flex-direction: row;
}
.social-icons h6 {
  padding: 0 10px;
}

/* ====================== */
/* ===== SEARCH.JS ====== */
/* ====================== */

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  margin-right: 5px;
  border: 2px solid black;
  padding: 6px;
}

/* ====================== */
/* ===== NEWSINFO.JS ====== */
/* ====================== */

.news-card {
  border: 1px solid black;
}
